# just a starter
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: roundtrip
spec:
  replicas: 1
  selector:
    matchLabels:
      app: roundtrip
  template:
    metadata:
      labels:
        app: roundtrip
    spec:
      serviceAccountName: serviceuser
      containers:
      - name: roundtrip
        image: gcr.io/sibos-hackathon-2020-team-06/roundtrip
        # This app listens on port 8080 for web traffic by default.
        ports:
        - containerPort: 8080
        env:
          - name: PORT
            value: "8080"
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: database-secret
                key: username
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: database-secret
                key: password
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: database-secret
                key: database
      - name: cloud-sql-proxy
        # It is recommended to use the latest version of the Cloud SQL proxy
        # Make sure to update on a regular schedule!
        image: gcr.io/cloudsql-docker/gce-proxy:1.17
        command:
          - "/cloud_sql_proxy"

          # If connecting from a VPC-native GKE cluster, you can use the
          # following flag to have the proxy connect over private IP
          # - "-ip_address_types=PRIVATE"

          # Replace DB_PORT with the port the proxy should listen on
          # Defaults: MySQL: 3306, Postgres: 5432, SQLServer: 1433
          - "-instances=sibos-hackathon-2020-team-06:asia-southeast1-a:team06=tcp:3306"
        securityContext:
          # The default Cloud SQL proxy image runs as the
          # "nonroot" user and group (uid: 65532) by default.
          runAsNonRoot: true